@{
    ViewBag.Title = "新闻中心";
    Layout = "~/Views/shared/MyLayout.cshtml";
}
<link href="~/css/layout.css" rel="stylesheet" />
<script src="~/Scripts/layout.js"></script>
<link href="~/css/headimg.css" rel="stylesheet" />
<link href="~/css/NewsCenter/NewsCenterStyle.css" rel="stylesheet" />
<div style="width:100%; height:auto;">
    <!--固定格式：图片地方-->
    <div class="page_head"></div>
    <!--内容部分-->
    <div id="nc_context">
        <!--左边导航部分-->
        <div class="nc_left_nav">
            <div class="innerfast ln1"  ></div>
            <div class="innerfast ln2"></div>
            <div class="innerfast ln3"></div>
        </div>
        <!--右边正文部分-->
        <div class="nc_context">
            <div>
                <dl>
                    <dt>
                        <a href="#">
                            <img src="~/css/img/Test_Imag/test1.jpg" alt="图片丢失"  class="nc_c_img"/>
                        </a>
                    </dt>
                    <dd>
                        <a href="#">
                            <h3>北京天时前程自动化工程技术有限公司和中机建设集团有限公司联合体中标济南热电有限公司电动机变频改造项目</h3>
                            <p>
                            </p>
                            <p>
                                <span>content</span>
                                "2017-04-20"
                            </p>
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#">
                            <img src="#" alt="Alternate Text" class="nc_c_img" />
                        </a>
                    </dt>
                    <dd>
                        <a href="#">
                            <h3></h3>
                            <p></p>
                            <p>
                                <span>content</span>
                                "2017-04-20"
                            </p>
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#">
                            <img src="#" alt="Alternate Text" class="nc_c_img" />
                        </a>
                    </dt>
                    <dd>
                        <a href="#">
                            <h3></h3>
                            <p></p>
                            <p>
                                <span>content</span>
                                "2017-04-20"
                            </p>
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#">
                            <img src="#" alt="Alternate Text" class="nc_c_img" />
                        </a>
                    </dt>
                    <dd>
                        <a href="#">
                            <h3></h3>
                            <p></p>
                            <p>
                                <span>content</span>
                                "2017-04-20"
                            </p>
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#">
                            <img src="#" alt="Alternate Text" class="nc_c_img" />
                        </a>
                    </dt>
                    <dd>
                        <a href="#">
                            <h3></h3>
                            <p></p>
                            <p>
                                <span>content</span>
                                "2017-04-20"
                            </p>
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="#" target="_blank">
                            <img src="#" alt="Alternate Text" class="nc_c_img" />
                        </a>
                    </dt>
                    <dd>
                        <a href="#">
                            <h3></h3>
                            <p></p>
                            <p>
                                <span>content</span>
                                "2017-04-20"
                            </p>
                        </a>
                    </dd>
                </dl>
            </div>
        <div>
            </div>
        </div>
    </div>
</div>