@{
    ViewBag.Title = "公司业绩";
    Layout = "~/Views/shared/MyLayout.cshtml";
}
<link href="~/css/layout.css" rel="stylesheet" />
<script src="~/Scripts/layout.js"></script>
<link href="~/css/headimg.css" rel="stylesheet" />

<div style="width:100%; height:auto;">
    <div class="page_head"></div>
    <div>

    </div>
</div>