@{
    ViewBag.Title = "首页";
    Layout="~/Views/shared/MyLayout.cshtml";
}
@model Xlinktscc.Models.Company
<link href="~/css/LayoutSider.css" rel="stylesheet" />
<link href="~/css/IntroductionStyle.css" rel="stylesheet" />
<script src="~/Scripts/layout.js"></script>
<div style="width:100%; height:auto; ">
    <div class="slideimg" style="width:100%; height:350px;"></div>
    <div class="bb_n_con">
        <div class="bb_n_left">
            <div class="bb_n_left_title">公司简介
            </div>
            <div class="bb_n_left_list_1">
                <ul class="rolinList" id="rolin">
                    <li>
                        <h2 style="background: rgb(255, 255, 255);">我们的团队</h2>
                        <div class="content">
                            <div class="bb_n_left_con">
                                <a href="/a/solution/solution_regulatory/192.html"><div>哈哈哈</div></a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <h2 style="background: rgb(255, 255, 255);">发展历程</h2>
                        <div class="content">
                            <div class="bb_n_left_con">
                                <a href="/a/solution/solution_engineering/193.html"><div>第一</div></a>
                                <a href="/a/solution/solution_engineering/194.html"><div>第二</div></a>
                                <a href="/a/solution/solution_engineering/195.html"><div>第三</div></a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <h2 style="background: rgb(255, 255, 255);">生产运行</h2>
                        <div class="content">
                            <div class="bb_n_left_con">
                                <a href="/a/solution/solution_production/182.html"><div>智能热网调度解决方案</div></a>
                                <a href="/a/solution/solution_production/183.html"><div>换热站智能控制解决方案</div></a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <h2 style="background: rgb(255, 255, 255);">组织结构</h2>
                        <div class="content">
                            <div class="bb_n_left_con">
                                <a href="/a/solution/solution_measurement/198.html"><div>测试1</div></a>
                                <a href="/a/solution/solution_measurement/199.html"><div>测试二</div></a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <h2 style="background: rgb(255, 255, 255);">获得荣誉</h2>
                        <div class="content">
                            <div class="bb_n_left_con">
                                <a href="/a/solution/solution_service/202.html"><div>第一</div></a>
                                <a href="/a/solution/solution_service/203.html"><div>第二</div></a>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--中间内容部分-->
        <div class="ci_n_middle"  >
            <div><h2>文章标题</h2></div>
            <div><h4>标签</h4></div>
            <div><hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <hr />
                <section class="aiticle">
                    <p class="p_row">
                        科技创新时代
                        Technology Innovation Opportunity
                        作为一家成立于2000年7月的高新技术企业，北京天时前程自动化工程技术有限公司专注于城市集中供热行业，聚焦于企业生产自动化和经营管理信息化系统建设和改造事业，为集中供热企业“革新管理、节能降耗、低碳环保”创造出卓越的价值。</p>
                    <p class ="p_row">

                        天时前程汇聚了一大批杰出的科研和工程技术人才，他们具有在集中供热行业自动化领域多年服务的成功经验。
                        公司具有自主知识产权的软硬件系列产品，获得5项实用新型专利、25项软件著作权登记，创造出融合先进技术和创新应用的“xLink智能热网监控和管理系统”，换热站装机容量超过7000套。
                        天时前程凭借自身的人才、技术和产品优势，铸就了企业的核心竞争力。
                    </p>
                    <p class="p_row">
                        天时前程为广大集中供热省份和城市的大中型企业，提供从热源、管网到换热站和用户全方位的自动化监控和信息化管理的整体解决方案，通过EPC, EMC, BOT, BOO等方式，共完成建设和改造工程覆盖规模达到5.8亿平方米。
                        天时前程依靠兢兢业业的努力和不断创新的发展，获得了在城市集中供热行业中“高技术、高质量、重服务”的优良口碑，成长为集中供热行业“智能热网”系统建设和服务的领先品牌。
                    </p>
                    <p class="p_row">

                        “智能热力，绿色生活”——天时前程将不断开拓进取，发挥人才、技术、产品、服务的核心优势，为集中供热企业的现代化建设精诚服务，创造更加辉煌的业绩。
                    </p>
                    
              
                    <p class="p_row">
                        As one of the high-tech enterprises, Beijing Tianshi Future Automation Engineering Technology Co., Ltd. was founded in 2000. The main business of our company is urban centralized heating industry.
                        We pay special attention to production automation and intend to manage information system for the construction and renovation of business as well.
                        We hold integrity-based business philosophy, making innovation as the priority and providing our customer with excellent service.
                        Our company is a comprehensive enterprise combining scientific research, production and engineering so as to create superior value for the centralized heating enterprises in innovation management, energy-saving and cost-reducing, low carbon and environmental protection.
                    </p>
                    <p class="p_row">
                        Beijing Tianshi Future Automation Engineering Technology Co., Ltd. has won a large group of outstanding scientific and engineering professionals who specialize in the field of automation of the heating industry with years of successful experience in service.
                        Our company developed and launched its own intellectual property rights of software and hardware products and has access to 5 utility model patents and 25 software copyright registrations.
                        Moreover, we have created xLink intelligent heating network monitoring and management System — a fusion of advanced technology and innovative applications. Our heat exchange station capacity is over 7,000 units. With its own talent, technology and product advantages, Beijing Tianshi Future Automation Engineering Technology Co., Ltd. has created the core competitiveness of enterprise.
                    </p> 
                    <p class="p_row">
                        Beijing Tianshi Future Automation Engineering Technology Co., Ltd. ,a enterprise that providing heating for provinces such as Beijing, Zhengzhou, Jinan, Shijiazhuang and large and medium enterprises in cities, has provided a total solution from the heat source, pipeline network to heat exchange station and to the user all-around automated monitoring and information management.
                        With the mode of EPC, EMC, BOT and BOO, we have completed the construction and renovation project covering scale of 580 million square meters. Relying on persistent and dedicated efforts and innovative development, we have obtained good reputation in the urban centralized heating industry - “high technology, high quality, excellent service”. We have grown to be a leading brand, among “smart heating network” system construction and services in the centralized heating industry.
                    </p> 
                    <p class="p_row">
                        “Smart Heat, green living”-- Beijing Tianshi Future Automation Engineering Technology Co., Ltd. will continue to forge ahead and exploit the core advantages in talent, technology, products, and services. We will provide sincere service to the modernization construction of centralized heating for enterprises and make better performance.
                    </p>
                </section>
            </div>
        </div>
        <!--右边导航部分-->
        <div class="ci_n_right">
            <!--热点连接-->
            <div class="hi_h hi_r1" >
                <dl>
                    <dt><p>热点连接</p></dt>
                    <dd>
                        <a href="javascript:">
                            <img src="#" alt="图片丢失" />
                        </a>
                    </dd>
                </dl>
                <div>
                    <p>了解更多</p>
                </div>
            </div>
            <!--新闻中心-->
            <div class="hi_h hi_r2">
                <ul>
                    <li>
                        <h5>新闻中心</h5>
                        <hr />
                    </li>
                    <li>
                        <p></p>
                        <a href="javascript:">新闻1</a>
                        <hr />
                    </li>
                    <li>
                        <p></p>
                        <a href="javascript:">新闻1</a>
                        <hr />
                    </li>
                    <li>
                        <p></p>
                        <a href="javascript:">新闻1</a>
                        <hr />
                    </li>
                    <li>
                        <a href="javascript:">阅读更多新闻</a>
                    </li>
                </ul>
            </div>
            <!--最近访问网页-->
            <div class="hi_h hi_r3">
                <dl >
                    <dt>最近访问页面
                    </dt>
                    <dd>
                        <hr />
                        <a href="javascript">公司简介></a>
                    </dd>
                </dl>
            </div>
            <!--热线电话以及官方微信-->
            <div class="hi_h hi_r4">
                <div></div>
                <div>
                    <div>
                        <img src="javascript" alt="热线电话" />
                    </div>
                    <div>
                        <img src="javascript" alt="官方微信" />
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>