
@{
    ViewBag.Title = "测试";
    Layout = "~/Views/shared/MyLayout.cshtml";
}

<link href="~/css/text.css" rel="stylesheet" />
<script src="~/Scripts/text.js"></script>
<div class="hete">
    哈哈哈
</div>
<button id="buton"> fgsdfgs</button>